################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/Business/obj
/Data/obj
/WKLNAMA/obj
/Business/bin/Debug/net8.0/Business.deps.json
/WKLNAMA/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Management.dll
/WKLNAMA/bin/Debug/net8.0/Google.Apis.Auth.dll
/WKLNAMA/bin/Debug/net8.0/WKLNAMA.deps.json
/WKLNAMA/bin/Debug/net8.0/Google.Apis.Core.dll
/WKLNAMA/bin/Debug/net8.0/Google.Apis.dll
/WKLNAMA/bin/Debug/net8.0/System.CodeDom.dll
/WKLNAMA/bin/Debug/net8.0/System.Management.dll
/WKLNAMA/bin/Debug/net8.0/Google.Apis.Drive.v3.dll
/WKLNAMA/bin/Debug/net8.0/Newtonsoft.Json.dll
/Business/bin/Debug/net8.0/Business.dll
/Business/bin/Debug/net8.0/Business.pdb
/Business/bin/Debug/net8.0/Data.dll
/Business/bin/Debug/net8.0/Data.pdb
/Data/bin/Debug/net8.0/Data.dll
/Data/bin/Debug/net8.0/Data.pdb
/WKLNAMA/bin/Debug/net8.0/Business.dll
/WKLNAMA/bin/Debug/net8.0/appsettings.json
/WKLNAMA/bin/Debug/net8.0/Business.pdb
/WKLNAMA/bin/Debug/net8.0/Data.dll
/WKLNAMA/bin/Debug/net8.0/Data.pdb
/WKLNAMA/bin/Debug/net8.0/WKLNAMA.dll
/WKLNAMA/bin/Debug/net8.0/WKLNAMA.exe
/WKLNAMA/bin/Debug/net8.0/WKLNAMA.pdb
/WKLNAMA/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/de/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/fr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
/WKLNAMA/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.resources.dll
/WKLNAMA/bin/Debug/net8.0/ru/Microsoft.CodeAnalysis.Workspaces.resources.dll
/WKLNAMA/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/WKLNAMA/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/WKLNAMA/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/WKLNAMA/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/WKLNAMA/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/WKLNAMA/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/WKLNAMA/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/WKLNAMA/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/WKLNAMA/bin/Release
/Data/bin/Release/net8.0
/WKLNAMA/Properties/PublishProfiles
/Business/bin/Release/net8.0
/WKLNAMA/.config/dotnet-tools.json
/WKLNAMA/WKLNAMA.csproj.user
/WKLNAMA
/.gitignore
/.gitignore
