################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/Business/obj
/Data/obj
/WKLNAMA/obj
