################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.gitignore
/Business/obj
/Data/obj
/WKLNAMA/obj
/Business/bin/Debug/net8.0/Business.deps.json
/WKLNAMA/bin/Debug/net8.0/runtimes/win/lib/net7.0/System.Management.dll
/WKLNAMA/bin/Debug/net8.0/Google.Apis.Auth.dll
/WKLNAMA/bin/Debug/net8.0/WKLNAMA.deps.json
/WKLNAMA/bin/Debug/net8.0/Google.Apis.Core.dll
/WKLNAMA/bin/Debug/net8.0/Google.Apis.dll
/WKLNAMA/bin/Debug/net8.0/System.CodeDom.dll
/WKLNAMA/bin/Debug/net8.0/System.Management.dll
/WKLNAMA/bin/Debug/net8.0/Google.Apis.Drive.v3.dll
/WKLNAMA/bin/Debug/net8.0/Newtonsoft.Json.dll
/Business/bin/Debug/net8.0/Business.dll
/Business/bin/Debug/net8.0/Business.pdb
/Business/bin/Debug/net8.0/Data.dll
/Business/bin/Debug/net8.0/Data.pdb
/Data/bin/Debug/net8.0/Data.dll
/Data/bin/Debug/net8.0/Data.pdb
/WKLNAMA/bin/Debug/net8.0/Business.dll
/WKLNAMA/bin/Debug/net8.0/appsettings.json
/WKLNAMA/bin/Debug/net8.0/Business.pdb
/WKLNAMA/bin/Debug/net8.0/Data.dll
/WKLNAMA/bin/Debug/net8.0/Data.pdb
/WKLNAMA/bin/Debug/net8.0/WKLNAMA.dll
/WKLNAMA/bin/Debug/net8.0/WKLNAMA.exe
/WKLNAMA/bin/Debug/net8.0/WKLNAMA.pdb
